html{

}

/* ----navigation---- */
.nav-link:hover{
  background-color: rgb(109, 73, 73);
}
/* ---- end navigation---- */
/* ----Home---- */
.headertext{
  font-size:3vw;
  position: relative;
  color: hsl(0, 3%, 30%);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 1.2px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 5%, 13%);
  }
  to {
    border-right-color: transparent;
  }
}
/* ----end Home---- */
/* ----compilation---- */
.textcompilation{
  display: table-cell;
  vertical-align: middle;
}
/* ----end compilation---- */
