html{

}
body{
  margin: 0;
  padding: 0;
}
/* ----navigation---- */
.nav-link:hover{
  background-color: rgb(109, 73, 73);
}
/* ---- end navigation---- */
/* ----footer---- */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---- end footer---- */

/* ----Home---- */
.patterns {
  height: 71vh;
}
svg text {
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  stroke: #181718;
  font-size: 70px;
  font-weight: 600;
  stroke-width: 3;
  animation: textAnimate 5s infinite alternate;
}
.hmb{
  white-space: initial;
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(187, 5%, 34%)

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
  
}
/* ----end Home---- */
/* ----compilation---- */
.compilation img{
  box-shadow: 15px 25px 10px 1px rgba(108, 73, 124, 0.39);
}
.compilation .message{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 25px 10px 1px rgba(108, 73, 124, 0.39);
}
/* ----end compilation---- */

/* ----about you---- */

.textaboutyou{
text-align: justify;
}
.aboutyou img{
  box-shadow: 15px 25px 10px 1px rgba(108, 73, 124, 0.39);
}
/* ----/about you---- */

/* ----what we shared---- */
.wwscarousel img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.wwscarousel .carousel-item{

}
.carousel-inner{
  display: flex;
  align-items: center;
  justify-content: center;

}
.wwscarousel{
  max-width: 60%;
}
/* ----/what we shared---- */